<scene>
<lights>
        <light type="POINT" posX="0" posY="0" posZ="0" /> 
</lights>
 <group>
  <scale X="5" Y="5" Z="5" />
  <rotate time="52" X="0" Y="1" Z="0" />
  <models>
   <model  file="../../Files/sphere.3d" texture = "../../Files/Sun.jpg" emissR="0.9" emissG="0.4" emissB="0.4" />
  </models>
 </group>

 <!--Mercúrio-->
 <group>
   <translate time="70">
   <point X="9.265" Y="0" Z="0"/>
   <point X="6.55" Y="0" Z="-6.55"/>
   <point X="0" Y="0" Z="-9.265"/>
   <point X="-6.55" Y="0" Z="-6.55"/>
   <point X="-9.265" Y="0" Z="0"/>
   <point X="-6.55" Y="0" Z="6.55"/>
   <point X="0" Y="0" Z="9.265"/>
   <point X="6.55" Y="0" Z="6.55"/>
  </translate>
  <rotate time="60" X="0" Y="1" Z="0" />
  <scale X="0.218" Y="0.218" Z="0.218" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Mercury.jpg" />
  </models>
 </group>

 <!--Vénus-->
 <group>
  <translate time="80">
   <point X="10.4" Y="0" Z="0"/>
   <point X="7.35" Y="0" Z="-7.35"/>
   <point X="0" Y="0" Z="-10.4"/>
   <point X="-7.35" Y="0" Z="-7.35"/>
   <point X="-10.4" Y="0" Z="0"/>
   <point X="-7.35" Y="0" Z="7.35"/>
   <point X="0" Y="0" Z="10.4"/>
   <point X="7.35" Y="0" Z="7.35"/>
  </translate>
  <rotate time="-100" X="0" Y="1" Z="0" />
  <scale X="0.54" Y="0.54" Z="0.54" />
  <models>
   <model  file="../../Files/sphere.3d" texture="../../Files/Venus.jpg"  />
  </models>
 </group>

 <!--Terra-->
 <group>
  <translate time="94.75">
   <point X="12.2" Y="0" Z="0"/>
   <point X="8.627" Y="0" Z="-8.627"/>
   <point X="0" Y="0" Z="-12.2"/>
   <point X="-8.627" Y="0" Z="-8.627"/>
   <point X="-12.2" Y="0" Z="0"/>
   <point X="-8.627" Y="0" Z="8.627"/>
   <point X="0" Y="0" Z="12.2"/>
   <point X="8.627" Y="0" Z="8.627"/>
  </translate>
  <scale X="0.568" Y="0.568" Z="0.568" />
  <rotate time="10" X="0" Y="1" Z="0" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Earth.jpg" />
  </models>
 </group>

 <!--Marte-->
 <group>
  <translate time="105">
   <point X="14.065" Y="0" Z="0"/>
   <point X="9.95" Y="0" Z="-9.95"/>
   <point X="0" Y="0" Z="-14.065"/>
   <point X="-9.95" Y="0" Z="-9.95"/>
   <point X="-14.065" Y="0" Z="0"/>
   <point X="-9.95" Y="0" Z="9.95"/>
   <point X="0" Y="0" Z="14.065"/>
   <point X="9.95" Y="0" Z="9.95"/>
  </translate>
  <rotate time="12" X="0" Y="1" Z="0" />
  <scale X="0.302" Y="0.302" Z="0.302" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Mars.jpg" />
  </models>
 </group>

 <!--Júpiter-->
 <group>
  <translate time="130">
   <point X="25.4" Y="0" Z="0"/>
   <point X="17.96" Y="0" Z="-17.96"/>
   <point X="0" Y="0" Z="-25.4"/>
   <point X="-17.96" Y="0" Z="-17.96"/>
   <point X="-25.4" Y="0" Z="0"/>
   <point X="-17.96" Y="0" Z="17.96"/>
   <point X="0" Y="0" Z="25.4"/>
   <point X="17.96" Y="0" Z="17.96"/>
  </translate>
  <rotate time="6" X="0" Y="1" Z="0" />
  <scale X="2.2" Y="2.2" Z="2.2" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Jupiter.jpg" />
  </models>
 </group>

 <!--Saturno-->
 <group>
  <translate time="150">
   <point X="39.65" Y="0" Z="0"/>
   <point X="28.03" Y="0" Z="-28.03"/>
   <point X="0" Y="0" Z="-39.65"/>
   <point X="-28.03" Y="0" Z="-28.03"/>
   <point X="-39.65" Y="0" Z="0"/>
   <point X="-28.03" Y="0" Z="28.03"/>
   <point X="0" Y="0" Z="39.65"/>
   <point X="28.03" Y="0" Z="28.03"/>
  </translate>
  <rotate time="7" X="0" Y="1" Z="0" />
  <scale X="2" Y="2" Z="2" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Saturn.jpg" />
  </models>
 </group>

 <!--Urano-->
 <group>
  <color X="0.529" Y="0.808" Z="0.922"/>
  <translate time="169">
   <point X="49.66" Y="0" Z="0"/>
   <point X="35.12" Y="0" Z="-35.12"/>
   <point X="0" Y="0" Z="-49.66"/>
   <point X="-35.12" Y="0" Z="-35.12"/>
   <point X="-49.66" Y="0" Z="0"/>
   <point X="-35.12" Y="0" Z="35.12"/>
   <point X="0" Y="0" Z="49.66"/>
   <point X="35.12" Y="0" Z="35.12"/>
  </translate>
  <rotate time="-6.97" X="0" Y="1" Z="0" />
  <scale X="1.8" Y="1.8" Z="1.8" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Uranus.jpg" />
  </models>
 </group>

 <!--Neptuno-->
 <group>
  <translate time="180">
   <point X="83" Y="0" Z="0"/>
   <point X="58.69" Y="0" Z="-58.69"/>
   <point X="0" Y="0" Z="-83"/>
   <point X="-58.69" Y="0" Z="-58.69"/>
   <point X="-83" Y="0" Z="0"/>
   <point X="-58.69" Y="0" Z="58.69"/>
   <point X="0" Y="0" Z="83"/>
   <point X="58.69" Y="0" Z="58.69"/>
  </translate>
  <rotate time="8" X="0" Y="1" Z="0" />
  <scale X="1.65" Y="1.65" Z="1.65" />
  <models>
   <model file="../../Files/sphere.3d" texture="../../Files/Neptune.jpg" />
  </models>
 </group>

<group>  
<translate time="30">
   <point X="20" Y="0" Z="0"/>
   <point X="10" Y="5" Z="-20"/>
   <point X="0" Y="0" Z="-20"/>
   <point X="-20" Y="0" Z="0"/>
   <point X="-10" Y="-5" Z="-20"/>
   <point X="-15" Y="0" Z="20"/>
  </translate>
  <scale X="0.3" Y="0.3" Z="0.3"/>
  <models>
   <model file="../../Files/comet.3d" texture = "../../Files/teapot.png"/>
  </models>
 </group>


</scene>
